filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/postgresql/postgresql.log
    fields:
      service: postgres
    multiline.pattern: '^\d{4}-\d{2}-\d{2}'
    multiline.negate: true
    multiline.match: after

output.logstash:
  hosts: ["{{ logstash_host }}:{{ logstash_port }}"]
