output {
  elasticsearch {
    hosts => ["https://localhost:9200"]
    ssl => true
    ssl_certificate_verification => false
    manage_template => false
    index => "postgresql-%{+YYYY.MM.dd}"
    user => {{ elasticsearch_user }}
    password => "{{ elasticsearch_password }}"
  }
}